/*
// Group 10: Graduate Capstone Project
// authors: Kevin Reynolds, Daniel Eden, Brie McIntosh, Roy Tran
// date: RIT Fall Semester 2017
reference: https://codepen.io/ianfarb/pen/leBzD
Slide Out Menu with JQuery
A PEN BY Ian Farb
*/

* {
    margin:0;
    padding:0;
    list-style: none;
}

html {
  min-width:480px;
}


nav {
    width:150px;
    padding:0 25px 0 25px;
    background-color: #f26d23;
    position: fixed;
    top:65px;
    height:100%;
    margin:0 0 0 -150px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;

    
}

nav.menushow .menu-btn {
    -webkit-transform: rotate(45deg) !important;
    -moz-transform: rotate(45deg) !important;
    -o-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;

}

.menushow {
    margin: 0;
    box-shadow:0 0 50px 0 rgba(0,0,0,.5);
}

nav ul {
    margin:60px 0 0 0;
    position: relative;
    left: -18px;
}

nav hr {
    margin-right: 20px;
    /*margin-left: 3px;*/
    margin-bottom: 7px;
}

#p_deets {
    text-decoration: underline;
    color: #545454;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    margin-bottom: 10px;
}

.nav_h {
    color: #fefefe;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300; 
}

nav a, .menu-btn a {
    color:#fefefe;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    text-decoration: none;
    padding:10px 15px;
    display: block;
    -webkit-transition: .25s ease-in;
    -moz-transition: .25s ease-in;
    -o-transition: .25s ease-in;
    -ms-transition: .25s ease-in;
    transition: .25s ease-in;

}

nav a:hover {
    background: rgba(255,255,255,.125);
}

.menu-btn {
    position: absolute;
    right:8px;
    top:8px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    transition: .5s ease-in;

}

.menu-btn a {
    font-family: Arial;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    width:30px;
    height:30px;
    padding:3px;
}

.menu-btn a:hover {
    background: none;
}

